@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 97%;
  margin: 0 auto;
}

/*=================================
  Custom styling starts here
=================================*/
html { scroll-behavior: smooth; }

:root {
  --black-color: #000;
  --white-color: #fff;
  --underline-color: #CCCCCC;
  --darkgray-color: #616161;
  --footer-color: #F1F1F1;
  --branding-color: #BBBBBB;
  --permonth-color: #9DA7A7;
}

.section-heading {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  font-size: 31px;
}

.underline::after {
  content: '';
  width: auto;
  padding: 2%;
  margin-top: 18px;
  display: block;
  background-color: var(--underline-color);
}

.display-none { display: none; }
/*=================================
  Custom styling ended here
=================================*/

/*=================================
  Header styling starts here
=================================*/
header .wrapper { width: 100%; }
.hamburger { display: none; }

.menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: var(--footer-color);
}

.menu {
  width: 100%;
  text-align: center;
}

.menu-list a {
  padding: 14px 0;
  display: block;
  color: var(--black-color);
  font-size: 22px;
}

.main-title {
  width: 97%;
  padding: 5.3% 0 3.2%;
  margin: 0 auto;
}

.header-logo {
  color: var(--black-color);
  font-size: 48px;
  font-weight: bold;
}

.template-by {
  padding-top: 26px;
  display: block;
  font-size: 19px;
}

.template-by a { color: var(--black-color); }
/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/

/* banner section started here */
.slider li { width: 100%; }

.banner .wrapper,
figure {
  position: relative;
}

figcaption {
  padding: 17px 2.5%;
  position: absolute;
  top: 27px;
  right: 1.4%;
  background-color: var(--white-color);
  font-size: 19px;
}

.slider-action {
  width: 100%;
  padding: 1.5% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: var(--darkgray-color);
}

.slider-action .next-button,
.slider-action .previous-button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: block;
  color: var(--white-color);
  text-indent: -9999px;
}

.previous-button { margin-left: 9%; }
.next-button { margin: 0 9% 0 auto; }

.slider-action .next-button::before,
.slider-action .previous-button::before {
  font-family: 'FontAwesome';
  font-size: 29px;
  float: left;
  text-indent: 0;
}

.slider-action .previous-button::before { content: '\f0a8'; }
.slider-action .next-button::before { content: '\f0a9'; }

.slider-action li {
  flex-basis: 20%;
  text-align: center;
}

.slider-dot {
  position: absolute;
  bottom: 22px;
  left: 50%;
  display: flex;
  width: 20%;
  transform: translateX(-50%);
  justify-content: center;
  align-items: center;
}

.slider-dot li { flex-basis: 8%; }

.dot {
  padding: 10px;
  border: 1px solid var(--white-color);
  margin: 1px;
  font-size: 0;
  -webkit-transition: background-color .5s ease-in-out;
  -o-transition: background-color .5s ease-in-out;
  transition: background-color .5s ease-in-out;
}

.slide-active { background-color: var(--white-color); }
/* banner section started here */

/* what we offer section started here */
.what-we-offer { padding: 88px 0 98px; }

.offer-box {
  padding-top: 58px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Design { background-color: var(--footer-color); }
.Branding { background-color: var(--branding-color); }

.Consultation {
  background-color: #616161;
  color: var(--white-color);
}

.Promises {
  background-color: var(--black-color);
  color: var(--white-color);
}

.offer-box li { padding: 40px 1.6%; }
.offer-box h3 { font-size: 32px; }

.offer-box p {
  padding-top: 22px;
  font-size: 19px;
  line-height: 1.5;
}
/* what we offer section started here */

/* pricing plan section started here */
.pricing-plans p {
  padding: 26px 0 44px;
  font-size: 20px;
  text-align: center;
}

.price-card {
  border: 1px solid #D1D1D1;
  border-bottom: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.price-card li {
  border-bottom: 1px solid #D1D1D1;
  font-size: 19px;
  line-height: 3.6;
}

.price-card li:last-child {
  background-color: var(--footer-color);
  line-height: 6;
}

.price-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.plans-price {
  padding-top: 42px;
  display: block;
  font-size: 41px;
  letter-spacing: 5px;
  line-height: 1;
}

.per-month { color: var(--permonth-color); }

.signup-button {
  padding: 18px 28px;
  border: none;
  outline: none;
  display: initial;
  background-color: #4CAF50;
  color: var(--white-color);
}

.price-card h4 {
  background-color: var(--black-color);
  color: var(--white-color);
  font-size: 30px;
  line-height: 4.2;
  text-align: center;
}

.bold { font-weight: bold; }

.price-pro h4 { background-color: #616161; }
/* pricing plan section ended here */

/* who we are section started here */
.who-we-are { padding: 106px 0; }

.outter-box {
  padding-top: 58px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.inner-box { -ms-flex-preferred-size: 32.2%; flex-basis: 32.2%; }

.who-we-are .inner-box {
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, .5);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, .5);
}

.content { padding: 5%; }
.content h5 { font-size: 30px; }

.content span {
  padding: 30px 0 24px;
  display: block;
  color: #75727A;
  font-size: 19px;
}

.who-we-are p {
  font-size: 19px;
  line-height: 1.5;
}

.contact-button {
  width: 100%;
  margin-top: 16px;
  background-color: var(--footer-color);
  color: var(--black-color);
  font-size: 20px;
  line-height: 2.6;
  text-align: center;
}
/* who we are section started here */

/* contact section started here */
.contact-us { text-align: center; }

form { padding: 60px 0 100px; }

.form-group {
  padding-top: 25px;
  text-align: left;
}

.form-group:last-child { padding-top: 20px; }

label {
  display: block;
  font-size: 19px;
}

.form-content {
  width: 97.5%;
  border: 1px solid var(--underline-color);
  outline: none;
  font-size: 18px;
  padding: 14px;
}

.send-button {
  width: 100%;
  border: none;
  outline: none;
  background-color: var(--black-color);
  color: var(--white-color);
  font-size: 18px;
  line-height: 2.5;
}
/* contact section ended here */

/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 
footer {
  padding-top: 58px;
  background-color: var(--footer-color);
  text-align: center;
}

h6 {
  padding-bottom: 35px;
  font-size: 25px;
}

.rocket-button {
  padding: 13px 22px;
  background-color: var(--black-color);
  color: var(--white-color);
  font-size: 19px;
}

.rocket-button::before {
  content: '\f062';
  margin-right: 20px;
  font-family: 'FontAwesome';
  float: left;
}

.social-links { padding-top: 50px; }

.social-icon a {
  color: var(--black-color);
  text-indent: -9999px;
}

.social-icon a::before {
  margin: 0 1px;
  font-family: 'FontAwesome';
  font-size: 29px;
  float: left;
  text-indent: 0;
}

.social-icon:nth-child(1) a::before { content: '\f082';}
.social-icon:nth-child(2) a::before { content: '\f16d';}
.social-icon:nth-child(3) a::before { content: '\f2ab';}
.social-icon:nth-child(4) a::before { content: '\f231';}
.social-icon:nth-child(5) a::before { content: '\f099';}
.social-icon:nth-child(6) a::before { content: '\f0e1';}

footer p {
  padding: 33px 0 45px;
  font-size: 18px;
}

footer p a {
  color: var(--black-color);
  text-decoration: underline;
}
 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/

/*media query for hover starts here*/
@media only screen and (min-width: 1024px) {
  .menu-list a:hover {
    background-color: #616161;
    color: var(--white-color);
  }

  .dot:hover {
    background-color: var(--white-color);
  }

  .previous-button:hover::before,
  .next-button:hover::before {
    border-radius: 50%;
    background-color: var(--white-color);
    color: var(--black-color);
  }

  footer p a:hover,
  .template-by a:hover {
    color: var(--darkgray-color);
  }

  .signup-button:hover { background-color: #2e8831; }
  .social-icon a:hover { color: var(--darkgray-color); }

  .rocket-button:hover,
  .send-button:hover {
    background-color: var(--darkgray-color);
  }

  .contact-button:hover {
    background-color: var(--darkgray-color);
    color: var(--white-color);
  }
}
/*media query for hover ended here*/

/*media query for 768px starts here*/
@media only screen and (max-width: 768px) {
  nav { display: none; }
  .inner-box { margin-bottom: 3%; }

  .outter-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .contact-us .wrapper,
  .what-we-offer .wrapper,
  .pricing-plans .wrapper,
  .who-we-are .wrapper {
    width: 70%;
  }

  .offer-box {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }

  .hamburger {
    display: block;
    text-indent: -9999px;
  }
  
  .hamburger::after {
    content: '\f0c9';
    margin: 7%;
    color: var(--black-color);
    font-family: 'FontAwesome';
    font-size: 29px;
    float: right;
    text-indent: 0;
  }

  .hamburger:hover + nav {
    width: 100%;
    display: block;
    position: fixed;
    top: 0;
    z-index: 1;
  }

  .menu-list {
    padding: 33% 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*media query for 768px ended here*/

/*media query for 475px starts here*/
@media only screen and (max-width: 475px) {
  h1 a { font-size: 36px; }
  .offer-box h3 { font-size: 22px; }

  label,
  .template-by,
  .offer-box p {
    font-size: 16px; 
  }

  .pricing-plans h3,
  .what-we-offer h2,
  .who-we-are h4,
  .contact-us h5 {
    font-size: 24px;
  }

  footer p,
  .send-button,
  .contact-button,
  .who-we-are p,
  .price-card li,
  .pricing-plans p {
    font-size: 14px;
  }

  .price-card h4 {
    font-size: 22px;
    line-height: 4;
  }

  .plans-price {
    padding-top: 5.8%;
    font-size: 26px;
  }

  .signup-button { padding: 3.7% 5.8%; }
  .content h5 { font-size: 24px; }

  .content span {
    padding: 5% 0 4.5%;
    font-size: 16px;
  }

  .form-content {
    width: 98%;
    line-height: 2;
  }

  h6 { font-size: 18px; }

  .rocket-button {
    padding: 12px 23px;
    font-size: 14px;
  }

  .social-icon a::before { font-size: 20px; }
}
/*media query for 475px ended here*/